{% extends "site_base.html"%}

{% load bootstrap_tags %}

{% load i18n %}

{% load dajaxice_templatetags %}

{% block title%}{% trans "Add a new Crag" %}{% endblock %}

{% block extra_script %}
    
    {{ form.media.js }}
    {{ mapa.media.js }}
    <script src="/site_media/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {

            console.log("Somos el init");
            geocoder = new google.maps.Geocoder();

                    console.log("Vamos con el autocomplete para address");
                    $('#address').typeahead({
                        source: function(typeahead, query) {
                            var resultsArr = new Array();
                              console.log("Invocamos el geocoder");
                              geocoder.geocode({ 'address': query }, 
                                function (results, status) {
                                  console.log("comprobamos el status");
                                  if (status == google.maps.GeocoderStatus.OK) {
                                      console.log("Tenemos el status OK");
                                    for(i=0; i < results.length; i++) {
                                        if(results[i].formatted_address) {
                                            resultsArr[i] = results[i].formatted_address;    
                                      }
                                  }
                                typeahead.process(resultsArr);
                                }
                          });

                        },
                        items: 10,
                        minLength: 3,
                    });
            });

        function cambio_posicion(latLng)
        {
            console.log("Cambiemos los inputs!");
            $("input[name*=lat]").val(latLng.lat());
            $("input[name*=lon]").val(latLng.lng());
            console.log("Vamos con el geocoding...");
            geocoder = new google.maps.Geocoder();
            //alert(geocoder);
            geocoder.geocode( { 'location': latLng }, function(results, status) {
                console.log("Hemos pedido un geocoding, a ver como nos va!");
                if (status == google.maps.GeocoderStatus.OK) {
                    pueblo = results[0].address_components[1].long_name
                    provincia = results[0].address_components[2].long_name;
                    console.log("Tenemos el pueblo "+pueblo+" en la provincia "+provincia+" . Vamos a pedir el ID por AJAX");
                    //Dajaxice.common.get_municipio_code(set_municipio,{'nombre': pueblo})
                    $("option:contains("+provincia+")").attr('selected','selected');

                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        };

        window.crag = {
            drag: function(mouseEvent) {
                console.debug("Somos unos arrastrados");
                console.debug("Hemos llegado a "+mouseEvent.latLng.lat()+" "+mouseEvent.latLng.lng());
                console.debug("Fin de todo el JS tras arrastrar");
                cambio_posicion(mouseEvent.latLng);
                console.debug("Inputs cambiados");
            },
            createMarker: function(mouseEvent) {

                console.debug("Creando nuevo marcador");
                console.debug("Estamos en "+mouseEvent.latLng.lat()+" "+mouseEvent.latLng.lng());
                var mapOptions = {
                    zoom: 12,
                    center: mouseEvent.latLng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById("map"),
                    mapOptions);
                alert(map);
                var marker = new google.maps.Marker({
                    position: mouseEvent.latLng,
                    map: {{ mapa.map }},
                    title:"Nueva escuela!"});
                console.debug("Añadido marcador!");
                $("input[name*=lat]").val(mouseEvent.latLng.lat());
                $("input[name*=lon]").val(mouseEvent.latLng.lng());
                console.debug("Inputs cambiados");
            }
        };
        function send_form(){
            console.log("Vamos a enviar el form");
            data = $("#crag_form").serialize(true);
            // jQuery
            // If you are using jQuery, you need this form->object serializer
            // https://github.com/cowboy/jquery-misc/blob/master/jquery.ba-serializeobject.js
            console.log(data);
            //Dajaxice.escuelas.myexample();
            Dajaxice.escuelas.send_escuela_form(Dajax.process,{'form':data});
        };
    </script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="span6">
<!--        <p><label>{% trans "Search location"%}</label><input id="address" data-provide="typeahead" type="text"/></p> -->
        {{ mapa.map }}
    </div>
    <div class="span6">

        <form class="form-horizontal" name="crag_form" enctype="multipart/form-data" action="{% url crags_crag_new %}" method="post">{% csrf_token %}
            <h3>{% trans "New Crag" %}</h3>
            {{ form_crag|as_bootstrap }}
            {{ form_photo|as_bootstrap }}
            <br />
            <input  class="submit btn-form" type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}
