{% extends "site_base.html"%}
{% load i18n %}
{% block title%}{% trans "Crag list"%}{% endblock %}
{% block body %}
<div class="row-fluid">
    <div class="span12">
        <h1>{% trans "Crag List" %}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Type" %}</th>
                    <th>{% trans "Country" %}</th>
                    <th>{% trans "Photo" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for crag in crag_list %}
                <tr>
                    <td> <a href="{% url crags_crag_detail crag.slug crag.id %}">{{ crag.name.capitalize }}</a> </td>
                    <td>{{ crag.get_type }}</td>
                        <td>{{ crag.country }}</td>
                    <td><img src="{{ crag.photo.thumbnail_image.url }}" /></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
