{% extends "site_base.html"%}

{% load i18n %}

{% load dajaxice_templatetags %}

{% block title%}{% trans "Add a new Crag" %}{% endblock %}

{% block extra_script %}
    {% dajaxice_js_import %}
    {{ form.media.js }}
    {{ mapa.media.js }}
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {
            console.log("Somos el init");
            geocoder = new google.maps.Geocoder();
                $(function() {
                    console.log("Vamos con el autocomplete para address");
                    $("#address").autocomplete({
                    //This bit uses the geocoder to fetch address values
                    source: function(request, response) {
                        geocoder.geocode( {'address': request.term }, function(results, status) {
                            response($.map(results, function(item) {
                                return {
                                    label:  item.formatted_address,
                                    value: item.formatted_address,
                                    latitude: item.geometry.location.lat(),
                                    longitude: item.geometry.location.lng()
                                }
                            }));
                        })
                    },
                      //This bit is executed upon selection of an address
                      select: function(event, ui) {
                        $("#latitude").val(ui.item.latitude);
                        $("#longitude").val(ui.item.longitude);
                        var location = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
                        marker = $("#map").getMarkers()[0];
                        marker.setPosition(location);
                        $("#map").fitMarkers(12);
                        cambio_posicion(location);
                        map.setCenter(location);
                      }
                    });
            });
        });

        function cambio_posicion(latLng)
        {
            console.log("Cambiemos los inputs!");
            $("input[name*=lat]").val(latLng.lat());
            $("input[name*=lon]").val(latLng.lng());
            console.log("Vamos con el geocoding...");
            geocoder = new google.maps.Geocoder();
            //alert(geocoder);
            geocoder.geocode( { 'location': latLng }, function(results, status) {
                console.log("Hemos pedido un geocoding, a ver como nos va!");
                if (status == google.maps.GeocoderStatus.OK) {
                    pueblo = results[0].address_components[1].long_name
                    provincia = results[0].address_components[2].long_name;
                    console.log("Tenemos el pueblo "+pueblo+" en la provincia "+provincia+" . Vamos a pedir el ID por AJAX");
                    //Dajaxice.common.get_municipio_code(set_municipio,{'nombre': pueblo})
                    $("option:contains("+provincia+")").attr('selected','selected');

                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        };

        window.crag = {
            drag: function(mouseEvent) {
                console.debug("Somos unos arrastrados");
                console.debug("Hemos llegado a "+mouseEvent.latLng.lat()+" "+mouseEvent.latLng.lng());
                console.debug("Fin de todo el JS tras arrastrar");
                cambio_posicion(mouseEvent.latLng);
                console.debug("Inputs cambiados");
            },

            createMarker: function(mouseEvent) {

                console.debug("Creando nuevo marcador");
                console.debug("Estamos en "+mouseEvent.latLng.lat()+" "+mouseEvent.latLng.lng());
                var mapOptions = {
                    zoom: 12,
                    center: mouseEvent.latLng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById("map"),
                    mapOptions);
                alert(map);
                var marker = new google.maps.Marker({
                    position: mouseEvent.latLng,
                    map: {{ mapa.map }},
                    title:"Nueva escuela!"});
                console.debug("Añadido marcador!");
                $("input[name*=lat]").val(mouseEvent.latLng.lat());
                $("input[name*=lon]").val(mouseEvent.latLng.lng());
                console.debug("Inputs cambiados");
            }
        };
        function send_form(){
            console.log("Vamos a enviar el form");
            data = $("#crag_form").serialize(true);
            // jQuery
            // If you are using jQuery, you need this form->object serializer
            // https://github.com/cowboy/jquery-misc/blob/master/jquery.ba-serializeobject.js
            console.log(data);
            //Dajaxice.escuelas.myexample();
            Dajaxice.escuelas.send_escuela_form(Dajax.process,{'form':data});
        };
    </script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="span6">
        <p><label>Buscar dirección: </label><input id="address"  type="text"/></p>
        {{ mapa.map }}
    </div>
    <div class="span6">

        <form name="escuela_form" enctype="multipart/form-data" action="{% url crags_crag_new %}" method="post">{% csrf_token %}
            <h3>Detalles de la nueva escuela:</h3>
            <input type="hidden" id="municipio_id" name="municipio_id" /><input type="hidden" id="loc_id" name="loc_id"/><br />
            {{ form_crag.as_p }}
            {{ form_photo.as_p }}
            <br />
            <input  class="submit btn-form" type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}
