{% extends "site_base.html"%}

{% load bootstrap_tags %}

{% load i18n %}

{% load dajaxice_templatetags %}

{% block title%}{% trans "Add a new Crag" %}{% endblock %}

{% block extra_script %}
    <script type="text/javascript" language="javascript">
        $(document).ready(function() {

            console.log("Somos el init");
            geocoder = new google.maps.Geocoder();

                    console.log("Vamos con el autocomplete para address");
                    $('#address').typeahead({
                        source: function(typeahead, query) {
                            var resultsArr = new Array();
                              console.log("Invocamos el geocoder");
                              geocoder.geocode({ 'address': query }, 
                                function (results, status) {
                                  console.log("comprobamos el status");
                                  if (status == google.maps.GeocoderStatus.OK) {
                                      console.log("Tenemos el status OK");
                                    for(i=0; i < results.length; i++) {
                                        if(results[i].formatted_address) {
                                            resultsArr[i] = results[i].formatted_address;    
                                      }
                                  }
                                typeahead.process(resultsArr);
                                }
                          });

                        },
                        items: 10,
                        minLength: 3,
                    });
            });

        function crag_move(position)
        {
            latLng = position.latLng;
            $("input[name*=lat]").val(latLng.lat());
            $("input[name*=lon]").val(latLng.lng());
            geocoder = new google.maps.Geocoder();
            //alert(geocoder);
            geocoder.geocode( { 'location': latLng }, function(results, status) {
                console.log("Hemos pedido un geocoding, a ver como nos va!");
                if (status == google.maps.GeocoderStatus.OK) {
                    //We look for the country
                    for (var i=0; i<results[0].address_components.length; i++) {
                     item = results[0].address_components[i]
                        console.log(item.types);
                        if (item.types[0] == "country") {
                            console.log("The country is: "+item.long_name);
                            country_code = item.short_name;
                            $("select[name*=country]").val(country_code);
                            break;
                        }
                    }
                    //Dajaxice.common.get_municipio_code(set_municipio,{'nombre': pueblo})
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        };
        function send_form(){
            console.log("Vamos a enviar el form");
            data = $("#crag_form").serialize(true);
            // jQuery
            // If you are using jQuery, you need this form->object serializer
            // https://github.com/cowboy/jquery-misc/blob/master/jquery.ba-serializeobject.js
            console.log(data);
            //Dajaxice.escuelas.myexample();
            Dajaxice.escuelas.send_escuela_form(Dajax.process,{'form':data});
        };
    </script>
    {{ form.media.js }}
    {{ mapa.media.js }}
    
{% endblock %}

{% block body %}
<div class="row">
    <div class="span6">
<!--        <p><label>{% trans "Search location"%}</label><input id="address" data-provide="typeahead" type="text"/></p> -->
        {{ mapa.map }}
    </div>
    <div class="span6">

        <form class="form-horizontal" name="crag_form" enctype="multipart/form-data" action="{% url crags_crag_new %}" method="post">{% csrf_token %}
            <h3>{% trans "New Crag" %}</h3>
            {{ form_crag|as_bootstrap }}
            {{ form_photo|as_bootstrap }}
            <br />
            <input  class="submit btn-form" type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}
