{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
  <link href="/site_media/static/css/custom.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    <ul class="nav">{% spaceless %}
        <li class="dropdown" id="tab_crags">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Crags" %}</a>
            <ul class="dropdown-menu">
                <li><a href="{% url crags_map %}">{% trans "Crags Map" %}</a></li>
                <li><a href="{% url crags_list %}">{% trans "Crags list" %}</a></li>
                <li><a href="{% url crags_crag_new %}">{% trans "Add crag" %}</a></li>
            </ul>
        </li>
        <li id="tab_about"><a href="{% url about %}">{% trans "About" %}</a></li>
    {% if user.is_authenticated %}
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
    {% endif %}
    {% endspaceless %}</ul>
    
    
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
    <!--
    {% get_language_info for LANGUAGE_CODE as lang %}
    Language code: {{ lang.code }} | Name of language: {{ lang.name_local }} | Name in English: {{ lang.name }} | Bi-directional: {{ lang.bidi }}
    <br />
    <form action="/i18n/setlang/" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="{{ redirect_to }}" />
<select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>
-->

{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
